body {
    background-color: #555353;
    margin: 0px;
}

#menu {
    height: 100vh;
    display: flex;
    align-items: center;
}

.menu-item {
    color: white;
    font-size: clamp(3rem, 8vw, 8rem);
    font-family: "Ibarra Real Nova", "serif";

    display :block;
    text-decoration: none;
    padding: clamp(0.25rem, 0.5vw, 1rem) 0rem;
}

.menu-items {
    margin-left: clamp(4rem, 20vw, 48rem);
    position: relative;
    z-index: 2;
}

.menu-items:hover > .menu-item {
    opacity: 0.3;
}

.menu-items:hover > .menu-item:hover {
    opacity: 1;
}

#menu-background-pattern {
    height: 100vh;
    width: 100vh;

    background-image: radial-gradient(
        rgba(225,225,225,0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;

    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

#shop-items {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 10px;
}

.shop-item {
    left: 100px;
    background-color: aqua;
    padding: 2rem;
}

.item-label {
    font-size: 20px;
    color: #9e9c9c;
    text-align: center;
}

.shop-item-button{
    padding: 10px;
    font-size: 20px;
    border-radius: 15px;
}

.shop-item-button:hover{
    background-color: blue;
}

#cart input:hover {
    background-color: aqua;
}

#cart input {
    padding:10px;
    align-items: center;
}

#result {
    background-color: #fff;
}

.item-cost:before {
    content: "R";
}